{% extends 'base.html.twig' %}

{% block title %}Hello CollectLinkedinController!{% endblock %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for job in jobs %}
        {{ job.title }}<br>
        {{ job.company }}<br>
        {{ job.location }}<br>
        {{ job.description }}<br>
        {{ job.publishedAt|ago }}<br>
        <hr>
    {% endfor %}
{% endblock %}